In [2]:
import pandas as pd
from IPython.display import display, HTML

In [6]:
data = pd.read_csv("datasets/dataset_min6.csv", index_col=0)
display(data.head())

,0_deaths,0_gold,0_gold_per_min,0_gold_spent,0_hero_healing,0_kills,0_tower_damage,0_xp_per_min,1_deaths,1_gold,...,131_xp_per_min,132_deaths,132_gold,132_gold_per_min,132_gold_spent,132_hero_healing,132_kills,132_tower_damage,132_xp_per_min,rad_won
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2923.5,...,473.250000,8.629630,1613.962963,372.555556,11012.962963,173.185185,6.074074,613.666667,398.296296,1.0
1,6.0,1007.0,398.0,16085.0,0.0,1.0,447.0,491.0,NaN,NaN,...,506.200000,6.250000,2554.250000,331.250000,10797.500000,0.000000,4.000000,417.500000,400.000000,1.0
2,11.0,686.0,213.0,4420.0,0.0,1.0,0.0,167.0,NaN,NaN,...,282.333333,7.666667,1599.666667,516.000000,14258.333333,453.666667,7.666667,1046.000000,516.000000,0.0
3,5.0,2907.5,408.5,11462.5,0.0,6.5,2163.5,418.0,NaN,NaN,...,402.666667,9.500000,2095.500000,437.500000,17287.500000,0.000000,11.500000,961.000000,577.000000,1.0
4,8.5,772.0,178.0,5750.0,0.0,1.5,43.5,207.5,NaN,NaN,...,627.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [13]:
display(data['rad_won'].value_counts(True))

1.0    0.520412
0.0    0.479588
Name: rad_won, dtype: float64