In [2]:
import pandas as pd
from IPython.display import display, HTML
from tqdm.notebook import trange, tqdm

# Data exploration

In [3]:
matches = pd.read_csv("data/orginal/match.csv")
display(matches.head())
print(len(matches))

,match_id,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster
0,0,1446750112,2375,1982,4,3,63,1,22,True,0,1,155
1,1,1446753078,2582,0,1846,63,0,221,22,False,0,2,154
2,2,1446764586,2716,256,1972,63,48,190,22,False,0,0,132
3,3,1446765723,3085,4,1924,51,3,40,22,False,0,0,191
4,4,1446796385,1887,2047,0,0,63,58,22,True,0,0,156

50000

In [6]:
players = pd.read_csv("data/orginal/players.csv")
display(players.head(10))
display(players.columns)

,match_id,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,...,unit_order_glyph,unit_order_eject_item_from_stash,unit_order_cast_rune,unit_order_ping_ability,unit_order_move_to_direction,unit_order_patrol,unit_order_vector_target_position,unit_order_radar,unit_order_set_item_combine_lock,unit_order_continue
0,0,0,86,0,3261,10960,347,362,9,3,...,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
1,0,1,51,1,2954,17760,494,659,13,3,...,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,83,2,110,12195,350,385,0,4,...,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,0,2,11,3,1179,22505,599,605,8,4,...,1.0,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,3,67,4,3307,23825,613,762,20,3,...,3.0,NaN,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN
5,0,4,106,128,476,12285,397,524,5,6,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
6,0,0,102,129,317,10355,303,369,4,13,...,4.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
7,0,5,46,130,2390,13395,452,517,4,8,...,NaN,NaN,NaN,4.0,110.0,NaN,NaN,NaN,NaN,NaN
8,0,0,7,131,475,5035,189,223,1,14,...,1.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
9,0,6,73,132,60,17550,496,456,1,11,...,1.0,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN

Index(['match_id', 'account_id', 'hero_id', 'player_slot', 'gold',
       'gold_spent', 'gold_per_min', 'xp_per_min', 'kills', 'deaths',
       'assists', 'denies', 'last_hits', 'stuns', 'hero_damage',
       'hero_healing', 'tower_damage', 'item_0', 'item_1', 'item_2', 'item_3',
       'item_4', 'item_5', 'level', 'leaver_status', 'xp_hero', 'xp_creep',
       'xp_roshan', 'xp_other', 'gold_other', 'gold_death', 'gold_buyback',
       'gold_abandon', 'gold_sell', 'gold_destroying_structure',
       'gold_killing_heros', 'gold_killing_creeps', 'gold_killing_roshan',
       'gold_killing_couriers', 'unit_order_none',
       'unit_order_move_to_position', 'unit_order_move_to_target',
       'unit_order_attack_move', 'unit_order_attack_target',
       'unit_order_cast_position', 'unit_order_cast_target',
       'unit_order_cast_target_tree', 'unit_order_cast_no_target',
       'unit_order_cast_toggle', 'unit_order_hold_position',
       'unit_order_train_ability', 'unit_order_drop_item',
       'unit_order_give_item', 'unit_order_pickup_item',
       'unit_order_pickup_rune', 'unit_order_purchase_item',
       'unit_order_sell_item', 'unit_order_disassemble_item',
       'unit_order_move_item', 'unit_order_cast_toggle_auto',
       'unit_order_stop', 'unit_order_taunt', 'unit_order_buyback',
       'unit_order_glyph', 'unit_order_eject_item_from_stash',
       'unit_order_cast_rune', 'unit_order_ping_ability',
       'unit_order_move_to_direction', 'unit_order_patrol',
       'unit_order_vector_target_position', 'unit_order_radar',
       'unit_order_set_item_combine_lock', 'unit_order_continue'],
      dtype='object')

In [30]:
# TODO: Add more?
players_cleared = players[[
    'match_id',
    'account_id',
    'hero_id',
    'player_slot',
    'gold',
    'gold_spent',
    'gold_per_min',
    'xp_per_min',
    'kills',
    'deaths',
    'hero_healing',
    'tower_damage'
]]

display(players_cleared.head(10))

,match_id,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,hero_healing,tower_damage
0,0,0,86,0,3261,10960,347,362,9,3,218,143
1,0,1,51,1,2954,17760,494,659,13,3,0,423
2,0,0,83,2,110,12195,350,385,0,4,1595,399
3,0,2,11,3,1179,22505,599,605,8,4,2714,6055
4,0,3,67,4,3307,23825,613,762,20,3,243,1833
5,0,4,106,128,476,12285,397,524,5,6,0,112
6,0,0,102,129,317,10355,303,369,4,13,764,0
7,0,5,46,130,2390,13395,452,517,4,8,0,2438
8,0,0,7,131,475,5035,189,223,1,14,0,0
9,0,6,73,132,60,17550,496,456,1,11,292,0

# Generate dataset

## Calculate

In [75]:
NUM_MATCHES = 10_000

matches_latest = matches.sort_values(by='match_id', ascending=False)

result_df = pd.DataFrame()

num_exported = 0

with tqdm(total=NUM_MATCHES) as pbar: 
    for i, values in matches_latest.iterrows():
        match_id = values['match_id']
        
        players_list = players_cleared[(players_cleared['match_id'] == match_id) & (players_cleared['account_id'] != 0)].sort_values('player_slot')
        hist_players = players_cleared[(players_cleared['match_id'] < match_id) & (players_cleared['account_id'].isin(players_list['account_id']))]
        
        stats = hist_players.drop(['match_id', 'hero_id', 'player_slot'], axis=1).groupby('account_id').mean()
        
        if len(stats) < 6:
            continue
        
        entry = {
            "rad_won": values['radiant_win']
        }
        
        for acc_id, acc_means in stats.iterrows():
            slot = players_list[players_list['account_id'] == acc_id]['player_slot'].iloc[0]
            for key, val in acc_means.iteritems():
                entry[f"{slot}_{key}"] = val
                            
        result_df = result_df.append(entry, ignore_index = True)
        
        num_exported += 1
        pbar.update(1)
        
        if num_exported >= NUM_MATCHES:
            break

HBox(children=(FloatProgress(value=0.0, max=10000.0), HTML(value='')))

## Save to file

In [73]:
# sort columns
def column_sort(x):
    if x == 'rad_won':
        return 999999999
    else:
        return int(x.split("_")[0])

result_df = result_df.reindex(columns=sorted(result_df.columns,key=column_sort))
result_df.to_csv("data/generated/dataset_min6.csv")